/OfflineARM.Business/bin/Debug
/OfflineARM.Business/obj/Debug
/OfflineARM.DAO/bin/Debug
/OfflineARM.DAO/obj/Debug
/OfflineARM.Repositories/bin/Debug
/OfflineARM.Repositories/obj/Debug
/OfflineARM.Services/bin/Debug
/OfflineARM.Services/obj/Debug
/OfflineARM/bin/Debug
/OfflineARM/obj/Debug
/OfflineARM.Business/bin/x86/Debug
/OfflineARM.Business/obj/x86/Debug
/OfflineARM.DAO/bin/x86/Debug
/OfflineARM.DAO/obj/x86/Debug
/OfflineARM.Repositories/bin/x86/Debug
/OfflineARM.Repositories/obj/x86/Debug
/OfflineARM.Services/bin/x86/Debug
/OfflineARM.Services/obj/x86/Debug
/OfflineARM/bin/x86/Debug
/OfflineARM/obj/x86/Debug
