/OfflineARM.Business/bin/Debug
/OfflineARM.Business/obj/Debug
/OfflineARM.DAO/bin/Debug
/OfflineARM.DAO/obj/Debug
/OfflineARM.Repositories/bin/Debug
/OfflineARM.Repositories/obj/Debug
/OfflineARM.Services/bin/Debug
/OfflineARM.Services/obj/Debug
/OfflineARM/bin/Debug
/OfflineARM/obj/Debug
