<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="commonlogfile" xsi:type="File" archiveAboveSize="500000000" maxArchiveFiles="1" fileName="logs\\OfflineARM.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="commonlogfile" />
  </rules>
</nlog>
